{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='account_details.css') }}">{% endblock %}
{% block title %}Delivery Details | The Hoop Llab{% endblock %}

{% block content %}
{% if 'user_updated' in session %}
    <div class="alert alert-warning alert-dismissible custom_design">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h2>{{ session.pop('user_updated', None) }}</h2>
    </div>
{% endif %}

<div class='signup'>
    <div class="signup_bg">
    {% from "includes/add_ProdForm.html" import render_field %}
        <h1 class="display-4">Delivery Details</h1>

        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.recipient_name, class="form-control capitalize") }}
            </div>
            <div class="form-group">
                {{ render_field(form.address, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.unit_number, class="form-control") }}
                <h3>Example: #01-123. If you have no unit number, please enter 0.</h3>
            </div>
            <div class="form-group">
                {{ render_field(form.postal_code, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.phone_number, class="form-control") }}
            </div>
            <input type="submit" value="Save Changes" class="btn btn-primary"/>
        </form>
        <form action="{{url_for('CustomerDeleteDelivery', id=session['user_id'])}}" method="POST">
        <div class="modal_div">
            <!-- <input type="submit" value="Delete" class="btn btn-danger" onclick = "return confirm('Are you sure you want to delete {# user.get_first_name() #} {# user.get_last_name() #}?');">-->
            <!-- even if you comment a server-side script text with <!- --> <!-- , it will still run. to prevent it from running, change the server-side script text format to comments {# user.get_first_name() #}-->

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{session['user_id']}}">
          Delete Delivery Details
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModal_{{session['user_id']}}">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="customer-modal-header">
                <h4 class="modal-title">Delete Details Confirmation</h4>
              </div>

              <!-- Modal body -->
              <div class="customer-texts modal-body">
                Are you sure you want to delete your Delivery Details?
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <input type="submit" value="Delete" class="customer-confirm-buttons staff_delete_button btn btn-danger">
                <button type="button" class="customer-confirm-buttons staff_delete_button btn btn-secondary" data-dismiss="modal">Cancel</button>

              </div>

            </div>
          </div>
        </div>
       </div>
      </form>
    </div>
</div>
{% endblock %}
