{% extends "guest_base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='login_signup.css') }}">{% endblock %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class='signup'>
    <div class="signup_bg">
    {% from "includes/add_ProdForm.html" import render_field %}
        <div class="signup_image"><img src = "./static/images/Group 1.png" alt = ""></div>

        <h1 class="display-4" style="margin-bottom: 2rem !important;">Forgot Password</h1>
        <h2 style="text-align: center; margin-bottom: 3rem;">Please enter your email for a 6 digit OTP code to be sent to.</h2>

        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.email, class="form-control capitalize") }}
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <input type="submit" value="Send Code" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}
