{% if session['acc_type'] == "Customer" %}
{% extends "base.html" %}
{% elif session['acc_type'] == "Staff" %}
{% extends "staff_base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='account_details.css') }}">{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class='signup'>
    {% if session['acc_type'] == "Customer" %}
    <div class="signup_bg">
    {% elif session['acc_type'] == "Staff" %}
    <div class="signup_bg" style="width: 100%">
    {% endif %}
    {% from "includes/add_ProdForm.html" import render_field %}
        <div class="signup_image"><img src = "./static/images/Group 1.png" alt = ""></div>

        <h1 class="display-4">Reset Password</h1>

        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.old_password, class="form-control capitalize") }}
                {% with messages = get_flashed_messages(category_filter=["oldpassworderror"]) %}
                {% if messages %}
                    <div class="reset_flashes">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="form-group">
                {{ render_field(form.new_password, class="form-control capitalize") }}
            </div>
            <div class="form-group">
                {{ render_field(form.confirm_password, class="form-control capitalize") }}
                {% with messages = get_flashed_messages(category_filter=["confirmpassworderror"]) %}
                {% if messages %}
                    <div class="reset_flashes">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
            </div>
            <input type="submit" value="Confirm Password Reset" class="btn btn-primary"/>
        </form>
    </div>
</div>
{% endblock %}
