.signup {
    display: flex;
    justify-content: center;
    margin: auto;
}

.capitalize {
    text-transform: None
}

.alert {
    text-align: center;
}
.signup_bg{
    background:#C5D8E9;
    width:50%;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.signup_image{
    display: flex;
    justify-content: center;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

h1{
    margin-bottom: 2rem;
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
    text-align: center;
    font-size: 2.5rem;
}

.btn{
    width: 64%;
    margin-top: 2rem;
    border-radius: .5rem;
    border:.4rem solid #0F4C81;
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    background:#0F4C81;
    margin-left: 20%;
    margin-bottom: 1rem;
}

.btn:hover{
    background:var(--orange);
    color: var(--black-color);
    border:.4rem solid var(--orange);
}

.form-control{
    width: 80% !important;
    font-size: 2rem !important;
}

.form-group{
    font-size: 2rem !important;
    padding-left: 20%;
}

.form-signup{
    text-align: center;
    font-size: 1.5rem !important;
    padding-left: 4%;
    margin-bottom: 2rem;
    margin-top: -1.2rem;
}

.reset_password_button {
    margin-top: 2.3rem;
    background: white;
    width: 80%;
    padding: 0.3rem 0.7rem;
    display: flex;
    justify-content: space-between;
}

.reset_password_link {
    color: black;
    font-size: 2rem;
}

.reset_password_button:hover{
    padding: 0.3rem 1.5rem;
}

.reset_password_link:hover {
    color: black;
    text-decoration: none;
}

.flashes {
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

@media only screen and (max-width: 1000px) {
  .signup_bg{
    background:#C5D8E9;
    width:90%;
    margin-bottom: 3rem;
    margin-top: 9rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
}

.close{
    font-size: 2.5rem;
}

.custom_design {
    background: #CAEEC2;
    width: 40%;
    margin: auto;
    border-radius:25px;
    border: 1px solid #CAEEC2;
    margin-top: 1rem;
    color: black;
}

.welcome_alert_text {
   color: black;
}

.reset_flashes {
    font-size: 1.5rem;
    color: red;
}

.table_head {
    background: #0F4C81;
    color: white;
    margin-bottom: 0rem !important;
}

.table_row {
    background: white !important;
    border: 1px black solid !important;
}

.staff_first_delete_button {
    width: 100%;
    font-size: 0.9rem;
    padding: auto;
    margin: auto;
    border: 1px solid black;
    word-wrap: break-word;
}

.staff_first_delete_button:hover {
    width: 100%;
    font-size: 0.9rem;
    padding: auto;
    margin: auto;
    border: 1px solid black;
}

.staff-modal-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .staff_first_delete_button{
        font-size: 0.7rem;
    }
}

.modal-body {
    text-align: center;
    color: black;
    font-size: 1.1rem;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.staff_delete_button {
    width: 45%;
    height: 3rem;
    font-size: 1rem;
    margin: 0;
}

.modal-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
}

.customer-texts {
    font-size: 2rem;
}

.customer-confirm-buttons {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3rem !important;
}
