.promo h4{
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 1rem;
    justify-content: center;
}
.promo h5{
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.containerz{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 79.5vh;
    background-image: linear-gradient(to bottom right, var(--orange), #C5D8E9);;
}
.header_leftt{
    margin-left: 30%;
}
.header_leftt h1{
    font-size:3rem;
}
.header_leftt a{
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    line-height: 4rem;
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top: 2rem;
    padding-top: .5rem;
}
.header_leftt h2{
    font-size: 3rem;
    color: #0f4c81;
    font-weight: bold;
}

.socialz{
  transform: rotate(-90deg);
  position: absolute;
  margin-top: -30rem;
}
.socialz a{
  text-transform: none;
  color: #0f4c81;
  padding-right: 20px;
  font-size: 1.2rem;
}

.Categories h5, .Categories h2{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.Categories h5{
  font-size: 3rem;
  color: #0f4c81;
  font-weight: bold;
}

.category_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 2rem;
}

.category_item {
  background: var(--white-color);
  border-radius: 2rem;
  border: 1px solid transparent;
}

.category_item:hover {
  border-color: var(--orange);
  background: transparent;
}

.basketball-image {
  overflow: hidden;
  height: 25rem;
  width: 12rem;
}

.category_item h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;

}

.item-cta a {
  font-size: 1.5rem;
  width: max-content;
  display: flex;
  justify-content: center;
}

.item-cta a:hover {
  color: var(--color-white);
}

/* ********************* MEDIA QUERIES (MEDIUM) ********************* */
@media screen and (max-width: 1024px) {
  .category_container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
  }
}

