{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='forgot_acc.css') }}">
{% endblock %}
{% block title %}Login details{% endblock %}

{% block content %}

<h1 class="forgotacc5_title">Cannot log in with correct login details</h1>
<hr><br>
<h2 class="acc_title5_2">Log-in Help:</h2>

<p class = " account_para5">
    1. Enter all email addresses you use into our password reset form. If the email address you entered is associated with a Hoopllab account, you’ll receive an email with further details.<br><br><br>
    2. if there is still an issue, please email or phone us
      </p>
<hr>
<br>

<style>
    .account_para5{
    font-size: 30px;
    padding:30px;
    margin-bottom:200px;
    }

.forgotacc5_title{
font-size:40px;
padding:15px;
text-align:center;
}

    .acc_title5_2 {
font-size: 35px;
padding-left:50px;
margin-bottom:30px;
text-decoration: underline;
}


</style>

    {# endfor #}


{% endblock %}
