<!-- footer -->
<footer>
    <div class = "footer-content">
      <div class = "container">
        <div class = "row">
          <div class = "footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href = "#">About Us</a></li>
              <li><a href = "#">Terms and Conditions</a></li>
              <li><a href = "#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class = "footer-col">
            <h4>Useful Links</h4>
            <ul>
              <li><a href = "/customersupportmain">FAQ</a></li>
              <li><a href = "#">Contact Us</a></li>
              <li><a href = "#">Community Guidelines</a></li>
            </ul>
          </div>
          <div class = "footer-col">
            <h4>Contact Information</h4>
            <ul>
              <li><a href = 'https://api.whatsapp.com/send?phone=6588071415'>+65 8807 1415</a></li>
              <li><a href = 'mailto:TheHoopLlab@gmail.com' target="_blank">TheHoopLlab@gmail.com</a></li>
              <li><a href = "#">Operating Hours</a></li>
            </ul>
          </div>
          <div class = "footer-col">
            <h4>Follow Us</h4>
            <div class = "social-links">
              <a href = "https://www.facebook.com/login/"><i class="fa-brands fa-facebook-f"></i></a>
              <a href = "https://www.instagram.com/accounts/login/?"><i class="fa-brands fa-instagram"></i></a>
              <a href = "https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
            </div>
          </div>
          <div class = "copyright">
            <p>&copy; 2022 The Hoop Lab</p>
        </footer>